{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table%}
            <tr>
                <td>{{ row['symbol'] }}</td>
                <td>{{ row['name'] }}</td>
                <td>{{ row['shares'] }}</td>
                <td>{{ row['price'] | usd }}</td>
                <td>{{ row['total'] | usd }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Cash</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}